name: Daily Docker Build

on:
  schedule:
    - cron: "0 0 * * *"   # Every day at midnight UTC
  workflow_dispatch:      # Manual trigger

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Enable QEMU for multi-platform builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build & push
      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true

          # Tags
          tags: |
            srstone/caddy-cf-dns:${{ env.DATE_TAG }}
            srstone/caddy-cf-dns:latest

#          cache-from: type=registry,ref=your-dockerhub-username/your-image:cache
#          cache-to: type=registry,ref=your-dockerhub-username/your-image:cache,mode=max

